<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605301473187-32fs7h52a0bsl2mjophjhse77qfovbjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605301473187-32fs7h52a0bsl2mjophjhse77qfovbjo</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Va2e8iE2pxttu1kV8cEZAGx5mZo38UY</string>
	<key>GCM_SENDER_ID</key>
	<string>605301473187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harmani.paneduapp</string>
	<key>PROJECT_ID</key>
	<string>pan-edu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pan-edu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605301473187:ios:daa65b899bf9a49c052416</string>
</dict>
</plist>
